@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Delius&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.bg-vanilla{
    background-color: #fff3b7;
}

.bg-vanilla-primary{
    background-color: #ffe45c;
}

.bg-vanilla-secondary{
    background-color: rgb(255, 245, 226);
}

.btn-vanilla-primary{
    background-color: #ffe45c;
}

.bg-darkpink{
    background-color: #610928;
}

.bg-darkpink-primary{
    background-color: #d62060;
}

.bg-orange{
    background-color: rgb(255, 186, 158)
}

.bg-orange-primary{
    background-color: rgb(249, 165, 134)
}

.btn-orange-primary{
    background-color: rgb(249, 165, 134)
}

.text-orange-primary{
    color: rgb(255, 140, 102) !important
}

.game-bg{

}

.button-place button{
    width: 100%;
    height: 100%
}

.pt-10{
    margin-top: 4.5rem;
}

#example-list{
    list-style: none;
}

.example-cell{
    border-radius: 5px;
    width: 45px;
    height: 45px;
}


#game-body{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    overflow: hidden;

    -webkit-animation: game-bg-anim 2s infinite;
    animation: game-bg-anim 2s infinite;
    animation-direction: alternate;
}

@keyframes game-bg-anim{
    0%{
        background-color: rgb(255, 186, 158);
    }

    100%{
        background-color: rgb(255, 197, 174);
    }
}

.to-cats{
    -webkit-animation: to-cats-anim 1s;
    animation: to-cats-anim 1s;
}

@keyframes to-cats-anim{
    0%{
        background-color: #FFFAE2;
    }
    100%{
        background-color: #ffb27e;
    }
}

@keyframes to-dogs-anim{
    0%{
        background-color: #FFFAE2;
    }
    100%{
        background-color: #fff3b7;
    }
}

.team-cats{
    -webkit-animation: bg-cats 2s infinite;
    animation: bg-cats 2s infinite;
    animation-direction: alternate;
}

.team-dogs{
    -webkit-animation: bg-dogs 2s infinite;
    animation: bg-dogs 2s infinite;
    animation-direction: alternate;
}

@keyframes bg-dogs{
    0%{
        background-color: #fff3b7;
    }

    50%{
        background-color: #ffe667; 
    }

    100%{
        background-color: #fff3b7;
    }    
}

@keyframes bg-cats{

    0%{
        background-color: #ffb27e;
    }

    100%{
        background-color: #f49778;
    }   

}

.centro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.centro > h1{
    font-size: 4.5rem;
}

.go-back{
    z-index: 100;
    background-color: white;
    color: #1e2225;
    border-radius: 10px;
    padding: 5px 10px;
    position: absolute;
    width: 3em;
    height: 2.5em;
    top: 15px;
    left: 10px;
    cursor: pointer;
    transition: width 1s;
}

.go-back:hover{
    width: 24em;
}

.go-back h5{
    display: inline;
}

.info{
    z-index: 100;
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 2rem;
    cursor: pointer;
}

/*.modal-footer button{
    background-color: rgb(241, 175, 149);
}*/

.gameDiv{
    padding: 10px 0;
}

.separator-right{
    border-right: solid 1px black
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}

.giant-div{
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.status{
    background-color: #44505C;
    border-radius: 20px;
    text-align: center;
}

.status h3{
    margin: 0;
}

.ally-grid, .enemy-grid{
    border: solid #ffa580 10px;
    border-radius: 20px;
    color: white;
    height: auto;
    max-width: 515px;
min-width: 515px;
    position: relative;

    transition: all 0.2s ease-in;
}

#both-grids-cont{
    transition: all 0.2s ease-in;
}

#grid{
    margin: 45px 0 0 45px;
    position: absolute;
    min-width:450px;
    max-width:450px;
}

.grid-wrapper{
    display: absolute;
    display: flex;
    flex-direction: column;
}

.grid-row{
    display: flex;
    flex-direction: row;
}

.grid-cell{
    display: flex;
    box-sizing: border-box;
    min-width: 45px;
    min-height: 45px;
    border: 1px solid #ffffff3b;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    background-color: #f7936f;
    border-radius: 5px;
}
.grid-cell span{
    margin: auto
}
.grid-marks{
    background-color: rgb(255, 140, 102);
    font-family: 'Delius', cursive;
    font-size: 20px;
}

.salvoed{
    background-color: #ffb07e;
}

.hit-anim{
    animation: hit-animation 0.2s;
}

.miss-anim{
    animation: miss-animation 0.2s;
}

@keyframes hit-animation{
    0%{
        background-color: white
    }
    
    100%{
        background-color: #b90000;
    }

}
@keyframes miss-animation{
    0%{
        background-color: #ffceaf;
    }

    100%{
        background-color: #ffb07e;
    }
}

.bg-hit{
    background-color: #b90000;
}

.pet{
    display: block;
    margin: auto;
    height: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    text-overflow: clip;
    overflow: hidden;
}

.petVertical{
    writing-mode: vertical-lr;
}

.MeowriceHorizontal{
    background-image: url(../img/cats/horizontal/Meowrice.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.MeowriceVertical{
    background-image: url(../img/cats/vertical/Meowrice.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.NashiroHorizontal{
    background-image: url(../img/cats/horizontal/Nashiro.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.NashiroVertical{
    background-image: url(../img/cats/vertical/Nashiro.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.GeorgeHorizontal{
    background-image: url(../img/cats/horizontal/George.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.GeorgeVertical{
    background-image: url(../img/cats/vertical/George.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.CoalyHorizontal{
    background-image: url(../img/cats/horizontal/Coaly.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.CoalyVertical{
    background-image: url(../img/cats/vertical/Coaly.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.OreoHorizontal{
    background-image: url(../img/cats/horizontal/Oreo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.OreoVertical{
    background-image: url(../img/cats/vertical/Oreo.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.small-grid{
    transform: scale(0.7,0.7) translate(0px,110px);
    filter: opacity(0.4)
}

.finished-game-grids{
    transform: scale(0.5 , 0.5) translate(0px, 250px)
}

.turn-marker{
    bottom: -295px;
}

.gen-button{
	z-index: 100;
	background-color: white;
	color: #1e2225;
    border-radius: 10px;
	padding: 5px 10px;
	cursor: pointer;
}

.pet:active {
    cursor: grabbing;
}

#games{
    padding: 2rem
}

.dropdown-menu>a:hover{
    background-color: rgb(249, 165, 134);
    color: white;
}

.view-scores-btn-cont{
    z-index: 100;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.game{
    background-color: #00b17c;
    border: solid #29f1b5 6px;
    color: beige;
    padding: 10px;
    width: auto;
    display: inline-block;
}

.scoreTable{
    width: 40%;
    background-color: #00b17c;
    text-align: center;
    color: white;
}

.scoreTable th{
    background-color: #00b17c;
    border: solid #00b17c 5px;
}

.scoreTable td{
    background-color: #29f1b5;
}

.selectable-enemy-cell{
    cursor: pointer;
}
.selectable-enemy-cell:hover{
    background-color: rgb(255, 97, 91);
}

.preselected-salvo{
    background-color: rgb(255, 107, 107);
}
.preselected-salvo:hover{
    background-color: rgb(255, 107, 107);
}

.salvo{
    width: 20px;
    height: 20px;
    border-radius: 0 80% 60% 80%;
    border: 2px solid black;
    transform: rotate(45deg);
    margin: auto;
    margin-top: 12px;
    background-color: lightblue;

    /*background-image: url(../img/water.png);
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;*/
}

#ally-grid-cont{
    display: inline;
}

#enemy-grid-cont{
    display: inline;
}

.grids-cont{
    width: 100%;
    margin: auto;
    display: block;
}

.full-layout{
    position: absolute;
    z-index: 100;
    width: 495px;
    height: 495px;
    background-color: rgb(128, 128, 128,0.5);
}

#login, #signup{
    z-index: 100;
    width: 30rem;
    height: auto;
    padding: 2rem;

    border-radius: 60px;
}

.team-select-item-cont{
    background-color: cornsilk;
    border-radius: 30px;
    cursor: pointer;
}

.selected-team{
    border: solid 2px black
}