@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: 'Poppins', sans-serif;
}

.bg-vanilla{
    background-color: #fff3b7;
}

.bg-vanilla-primary{
    background-color: #ffe45c;
}

.bg-vanilla-secondary{
    background-color: #FFFAE2;
}

.btn-vanilla-primary{
    background-color: #ffe45c;
}

.bg-darkpink{
    background-color: #610928;
}

.bg-darkpink-primary{
    background-color: #d62060;
}

.button-place button{
    width: 100%;
    height: 100%
}

.pt-10{
    margin-top: 4.5rem;
}


#game-body{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    overflow: hidden;

}

.to-cats{
    -webkit-animation: to-cats-anim 1s;
    animation: to-cats-anim 1s;
}

@keyframes to-cats-anim{
    0%{
        background-color: #FFFAE2;
    }
    100%{
        background-color: #ffb27e;
    }
}

@keyframes to-dogs-anim{
    0%{
        background-color: #FFFAE2;
    }
    100%{
        background-color: #fff3b7;
    }
}

.team-cats{
    -webkit-animation: bg-cats 2s infinite;
    animation: bg-cats 2s infinite;
    animation-direction: alternate;
}

.team-dogs{
    -webkit-animation: bg-dogs 2s infinite;
    animation: bg-dogs 2s infinite;
    animation-direction: alternate;
}

@keyframes bg-dogs{
    0%{
        background-color: #fff3b7;
    }

    50%{
        background-color: #ffe667; 
    }

    100%{
        background-color: #fff3b7;
    }    
}

@keyframes bg-cats{

    0%{
        background-color: #ffb27e;
    }

    100%{
        background-color: #f49778;
    }   

}

.centro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.centro > h1{
    font-size: 4.5rem;
}

.go-back{
    z-index: 100;
    background-color: white;
    color: #1e2225;
    border-radius: 10px;
    padding: 5px 10px;
    position: absolute;
    width: 3em;
    height: 2.5em;
    top: 15px;
    left: 10px;
    cursor: pointer;
    transition: width 1s;
}

.go-back:hover{
    width: 24em;
}

.go-back h5{
    display: inline;
}

.info{
    z-index: 100;
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 2rem;
    cursor: pointer;
}

/*.modal-footer button{
    background-color: rgb(241, 175, 149);
}*/

.gameDiv{
    padding: 10px 0;
}

.separator-right{
    border-right: solid 1px black
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}

.giant-div{
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.status{
    background-color: #44505C;
    border-radius: 20px;
    text-align: center;
}

.status h3{
    margin: 0;
}

.grid-ships, .enemy-grid{
    border: solid #1a1e22 10px;
    border-radius: 20px;
    color: white;
    height: auto;
    max-width: 515px;
    min-width: 515px;
    position: relative;

    transition: all 0.2s ease-in;
}

#both-grids-cont{
    transition: all 0.2s ease-in;
}

#grid{
    margin: 45px 0 0 45px;
    position: absolute;
    min-width:450px;
    max-width:450px;
}

.grid-wrapper{
    display: absolute;
    display: flex;
    flex-direction: column;
}

.grid-row{
    display: flex;
    flex-direction: row;
}

.grid-cell{
    display: flex;
    box-sizing: border-box;
    min-width: 45px;
    min-height: 45px;
    border: 0.1px solid #373E46;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    align-items: center;
    background-color: #44505C;
}
.grid-cell span{
    margin: auto
}
.grid-marks{
    background-color: #3A434B;
}

.salvoed{
    background-color: rgb(133, 149, 219);
}

.bg-red{
    background-color: #b14100;
}

.shipCont{
    overflow-x: hidden;
    overflow-y: hidden !important;
}

.ship{
    display: block;
    margin: auto;
    height: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    text-overflow: clip;
    overflow: hidden;
}

.shipVertical{
    writing-mode: vertical-lr;
}

.CarrierHorizontal{
    background-image: url(/web/img/ships/CarrierHorizontal.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.CarrierVertical{
    background-image: url(/web/img/ships/CarrierVertical.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.SubmarineHorizontal{
    background-image: url(/web/img/ships/SubmarineHorizontal.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.SubmarineVertical{
    background-image: url(/web/img/ships/SubmarineVertical.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.BattleshipHorizontal{
    background-image: url(/web/img/ships/BattleshipHorizontal.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.BattleshipVertical{
    background-image: url(/web/img/ships/BattleshipVertical.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.DestroyerHorizontal{
    background-image: url(/web/img/ships/DestroyerHorizontal.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.DestroyerVertical{
    background-image: url(/web/img/ships/DestroyerVertical.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.PatrolHorizontal{
    background-image: url(/web/img/ships/PatrolHorizontal.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.PatrolVertical{
    background-image: url(/web/img/ships/PatrolVertical.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.small-grid{
    transform: scale(0.7,0.7) translate(0px,110px);
}

.finished-game-grids{
    transform: scale(0.5 , 0.5) translate(0px, 250px)
}

.turn-marker{
    bottom: -295px;
}

.gen-button{
	z-index: 100;
	background-color: white;
	color: #1e2225;
    border-radius: 10px;
	padding: 5px 10px;
	cursor: pointer;
}

.ship:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#games{
    padding: 2rem
}

.dropdown-menu>a:hover{
    background-color: #ffefa1
}

.view-scores-btn-cont{
    z-index: 100;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.game{
    background-color: #00b17c;
    border: solid #29f1b5 6px;
    color: beige;
    padding: 10px;
    width: auto;
    display: inline-block;
}

.scoreTable{
    width: 40%;
    background-color: #00b17c;
    text-align: center;
    color: white;
}

.scoreTable th{
    background-color: #00b17c;
    border: solid #00b17c 5px;
}

.scoreTable td{
    background-color: #29f1b5;
}

.selectable-enemy-cell{
    cursor: pointer;
}
.selectable-enemy-cell:hover{
    background-color: rgb(98, 113, 129);
}

.preselected-salvo{
    background-color: rgb(133, 149, 219);
}
.preselected-salvo:hover{
    background-color: rgb(133, 149, 219);
}

.salvo{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 100px;
    margin: auto;
}

#ally-grid-cont{
    display: inline;
}

#enemy-grid-cont{
    display: inline;
}

.grids-cont{
    width: 100%;
    margin: auto;
    display: block;
}

.full-layout{
    position: absolute;
    z-index: 100;
    width: 495px;
    height: 495px;
    background-color: rgb(128, 128, 128,0.5);
}

#login, #signup{
    z-index: 100;
    width: 30rem;
    height: auto;
    padding: 2rem;

    border-radius: 60px;
}

.team-select-item-cont{
    background-color: cornsilk;
    border-radius: 30px;
    cursor: pointer;
}

.selected-team{
    border: solid 2px black
}