<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kitten Wars</title>

    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/f6a1986fab.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="dist/mdb.min.css" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" href="dist/gridstack.css" />
    <link rel="stylesheet" href="dist/gridstack-extra.css" />
    <link rel="stylesheet" href="css/style.css" />

    <link rel="icon" href="./img/icon-cropped.png">
</head>
<body id="game-body" class="game-bg">
    <main id="app">
        <div class="giant-div">
            <button class="btn go-back" @click="back()">
                <h5><i class="fas fa-caret-square-left" style="font-size: 1em"></i> Go back to games list</h5>
            </button>
            
            <div>
                <div class="text-white info animated delay-2s" id="info" data-target="#infoModal" data-toggle="modal"> 
                    <i class="fas fa-question-circle"></i>
                </div>

                <div id="waiting-div" class="centro">
                    <h1 class="animated bounceIn d-none">Waiting for an opponent to join</h1>
                </div> 
            </div>

            <div class="centro">
                <div id="initial-grid-cont" class="d-none w-auto">       
                    <div class="ally-grid m-auto animated bounceIn"></div>
                    <h4 id="initial-text" class="mt-2 animated fadeIn delay-1s">This is your grid</h4>
                    <button class="btn animated fadeIn delay-4s btn-orange-primary text-white" id="addPets" @click="placePets()">
                        <h6 class="m-0">Place</h6>
                    </button>
                </div>
            </div>

            <div class="centro">
                    <div id="game-ended" class="centro d-none animated fadeIn" style="transform: translate(-50%,-140%)">
                        <h1 id="game-ended-state">{{state}}</h1>
                        <h3 id="game-ended-subtext"></h3>
                        <button class="mt-4 btn gen-button animated bounceIn delay-1s waves-effect waves-light" @click="back()">
                            <h5 class="m-0">Go back to games list</h5>
                        </button>
                    </div>
                <div id="both-grids-cont" class="d-none row">
                    <div id="ally-grid-cont" class="col-6">
                        <div id="ally-turn-marker" class="centro turn-marker animated fadeIn d-none text-above-grids">
                            <h2>It's your turn to shoot!</h2>
                            <h2>Mark down two enemy cells and shoot.</h2>
                            <button id="shoot-button" class="btn gen-button animated bounceIn d-none" @click="shootSalvoes()"><h3 class="m-0">Shoot!</h3></button>
                        </div>
                        
                        <div class="ally-grid m-auto bounceIn"></div>
                        <h3 class="mt-2">Your grid</h3>
                        <h4>Pets left: {{allyPetsLeftQ}}</h4>
                        
                    </div>
                    
                    <div id="enemy-grid-cont" class="col-6">
                        <div id="enemy-turn-marker" class="centro turn-marker animated fadeIn d-none">
                            <div class="text-above-grids">
                                <h2 id="hit-notif">
                                    <span v-if="turn == 1"></span>
                                    <span v-else-if="allyHitsOnLastTurn.length == 0">
                                        You didn't hit any enemy pet!
                                    </span>
                                    <span v-else>
                                        Nice! You hit {{allyHitsOnLastTurn.length}} busy enemy cell(s)!
                                    </span>
                                </h2>
                                <h2>It's {{enemyPlayer().name}}'s turn to shoot...</h2>
                            </div>
                            
                        </div>
                        <div class="enemy-grid m-auto bounceIn"></div>
                        <h3 class="mt-2">{{enemyPlayer().name}}'s grid</h3>
                        <h4>Pets left: {{oppPetsLeftQ}}</span></h4>
                    </div>
                </div>
            </div>               
        </div>

        <div class="modal fade text-dark text-center" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Game Information</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <h2>Hello <b>{{currPlayer().name}}!</b></h2>

                            <h6>Need help? <a class="text-orange-primary" @click="showHelp()">Click here!</a></h6>

                            <hr>
                            

                            <div v-if="gameState == 'WAITING_OPPONENT_TO_JOIN'">
                                <p>
                                    You are waiting for an opponent to join your game.
                                    <br>
                                    Please be patient! Once they join, you can place your pets
                                </p>
                            </div>

                            <div v-if="gameState == 'PLACING_PETS' || gameState == 'OPPONENT_PLACING_PETS'">
                                    <p>
                                        Your opponent is {{enemyPlayer().name}}
                                    </p>
                            </div>

                            <div v-if="gameStarted()">
                                <span><h4>Your opponent is {{enemyPlayer().name}}!
                                    </h4></span>
                                <span><h5>Game id: {{datos.id}}</h5></span>

                                <hr>

                                <h3 class="mt-2 mb-3">Hits tables</h3>

                                <div class="row">
                                    <div id="ally-grid-cont" class="col-lg-6">
                                        <div>
                                            <table class="table table-bordered text-center table-sm table-hover">
                                                <tr>
                                                    <th colspan="3">Opponent Hits</th>
                                                </tr>
                                                <tr>
                                                    <th>Turn</th>
                                                    <th>Pet Hit</th>
                                                    <th>Location Hit</th>
                                                </tr>
                                                <tbody v-if="enemyHits.length != 0">
                                                    <tr v-for="hit in enemyHits">
                                                        <td>{{hit.turn}}</td>
                                                        <td>{{hit.petHit}}</td>
                                                        <td>{{hit.locHit}}</td>
                                                    </tr>
                                                </tbody>
                                                <tbody v-else>
                                                    <tr>
                                                        <td colspan="3">Your opponent hasn't hit any of your pets yet!</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                    <div class="col-lg-6">
                                        <table class="table table-bordered text-center table-sm table-hover">
                                            <tr>
                                                <th colspan="3">Player Hits</th>
                                            </tr>
                                            <tr>
                                                <th>Turn</th>
                                                <th>Pet Hit</th>
                                                <th>Location Hit</th>
                                            </tr>
                                            <tbody v-if="playerHits != 0">
                                                <tr v-for="hit in playerHits">
                                                    <td>{{hit.turn}}</td>
                                                    <td>{{hit.petHit}}</td>
                                                    <td>{{hit.locHit}}</td>
                                                </tr>
                                            </tbody>
                                            <tbody v-else>
                                                <tr>
                                                    <td colspan="3">You haven't hit an opponent pet yet!</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade text-dark text-center overflow-auto" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="modal-header">
                            <h5 class="modal-title" id="helpModalTitle">Game Information</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body overflow-auto">
                            <h3>Game Objective</h3>
                            <p>Your objective is to wet all your enemy's cats before they wet yours!</p>

                            <hr>

                            <h3>Cell notation</h3>
                            <div class="container-fluid mt-3">
                                    <div class="row mb-3">
                                            <div class="col-2">
                                                <div class="grid-cell example-cell text-white"></div>
                                            </div>
                                            <div class="col-10 text-left">
                                                <p>This is a normal cell</p>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-2">
                                        <div class="grid-cell example-cell text-white salvoed"><span>1</span></div>
                                    </div>
                                    <div class="col-10 text-left">
                                        <p>The numbers inside the cells indicate in which turn the cell was shot</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <div class="grid-cell example-cell text-white salvoed bg-hit"><span>1</span></div>
                                    </div>
                                    <div class="col-10 text-left">
                                        <p>When a shot cell contains a pet, it will turn dark red</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <div class="grid-cell example-cell text-white preselected-salvo"><div class="salvo"></div></div>
                                    </div>
                                    <div class="col-10 text-left">
                                        <p>When you pre-select an enemy cell, a water drop will appear inside of it, indicating that you are about to wet that position.</p>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <h3>Who are the cats?</h3>
                            <h5>Meowrice</h5>
                            <p>The long one (5 cells)</p>
                            <h5>Nashiro</h5>
                            <p>The not so long one (4 cells)</p>
                            <h5>George</h5>
                            <p>The not so skinny one (3 cells)</p>
                            <h5>Coaly</h5>
                            <p>The coal-colored one (3 cells)</p>
                            <h5>Oreo</h5>
                            <p>Doesn't the name say it all? (2 cells)</p>
                            <!--Cuando tenga reglas lo descomento xd 
                            <hr>

                            <h4>To get detailed rules, <a href="#" onclick="window.location.href='rules.html'" class="text-orange-primary">click here!</a></h4>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </main>


    <!--Scripts-->
    <script src="dist/vue.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="dist/mdb.min.js"></script>
        
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="dist/jquery-ui.min.js"></script>
    <script src="dist/gridstack.js"></script>
    <script src="dist/gridstack.jQueryUI.js"></script>
    <script src="dist/jquery.ui.touch-punch.min.js"></script>
    <script src="js/game.js"></script>
</body>
</html>