<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Salvo Grid pero durisima</title>

    <!--CSS-->
    <link rel="stylesheet" href="dist/gridstack.css" />
    <link rel="stylesheet" href="dist/gridstack-extra.css" />
    <link rel="stylesheet" href="dist/style.css" />
</head>
<body style="width: 80vw; margin: auto">
    <main id="app">
        <div id="game-data">
            <h1>Game: {{datos.id}}</h1>
            <div v-if="datos.gameplayers">
                <h3>Player 1: <span v-if="datos.gameplayers[0]">{{datos.gameplayers[0].player.name}} <span v-if="datos.gameplayers[0].id == gpId">(You)</span></span><span v-else>None</span></h3>
                <h3>Player 2: <span v-if="datos.gameplayers[1]">{{datos.gameplayers[1].player.name}} <span v-if="datos.gameplayers[1].id == gpId">(You)</span></span><span v-else>None</span></h3>
            </div>
            <button id="logout">Logout</button>
            
        </div>
        <div class="grid-ships">
            <div id="grid" class="grid-stack grid-stack-10">
                
            </div>
        </div>
        <div class="enemy-grid" >
                <div id="enemy-grid" class="grid-stack grid-stack-10">                 
                </div>
            </div>
    </main>


    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script  src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="dist/jquery-ui.min.js"></script>
    <script src="dist/gridstack.js"></script>
    <script src="dist/gridstack.jQueryUI.js"></script>
    <script src="dist/jquery.ui.touch-punch.min.js"></script>
    <script src="dist/script.js"></script>
</body>
</html>