<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kitten Wars - Games</title>

    <script src="https://kit.fontawesome.com/f6a1986fab.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="dist/mdb.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <link rel="icon" href="./img/icon-cropped-black.png">
</head>
<body class="bg-orange">
    <main id="app" class="container">
        <div class="centro">
            <div id="login" class="m-auto shadow bg-white text-dark animated fadeInDown faster d-none">
                <h1 class="mb-3">Login</h1>
                <div id="login-form">
                    <div class="form-group">
                        <label for="login-email">Email address:</label> 
                        <input type="email" class="form-control" name="email" id="login-email" placeholder="Enter mail" required>
                    </div>
                    <div class="form-group">
                        <label for="login-pwd">Password:</label>
                        <input type="password" class="form-control" name="password" id="login-pwd" placeholder="Enter password" required>
                    </div>
                    <button class="btn bg-orange-primary text-white" @click="login()">Log In</button>
                    <button class="btn btn-secondary" @click="showSignup()">Sign Up</button>                    
                    <hr class="my-4">
                    <h6>or</h6>
                    <button class="btn bg-light" @click="showGames()">Enter as a guest</button>                    
                </div>
            </div>

            <div id="signup" class="m-auto shadow bg-white text-dark animated fadeInDown faster d-none">
                <h1 class="mb-3">Sign Up!</h1>
                <div id="signup-form">
                    <div class="form-group">
                        <label for="signup-name">Name:</label>
                        <input type="text" class="form-control" name="name" id="signup-name" placeholder="Enter your name" required>
                    </div>
                    <div class="form-group">
                        <label for="signup-email">Email address:</label> 
                        <input type="email" class="form-control" name="email" id="signup-email" placeholder="Enter mail" required>
                    </div>
                    <div class="form-group">
                        <label for="signup-pwd">Password:</label>
                        <input type="password" class="form-control" name="password" id="signup-pwd" placeholder="Enter password" required>
                    </div>
                    <div class="form-group">
                        <label for="signup-pwd">Confirm password:</label>
                        <input type="password" class="form-control" name="con-password" id="signup-pwd-conf" placeholder="Confirm password" required>
                    </div>
                    <button class="btn btn-secondary" @click="signup()">Sign Up</button><br>
                    <span class="small">I already have an account. <a href="#" @click="showLogin()">Log In</a></span>                 
                </div>
            </div>
        </div>

        

        <div id="content" class="animated fadeIn faster d-none pt-10">

            <nav class="navbar fixed-top navbar-light bg-vanilla-secondary">
                <a class="navbar-brand" href="#">Kitten Wars</a>
                <div></div>
                <div class="nav-item dropdown" v-if="logged">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="user-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Logged as: {{user.name}}
                    </a>
                    <div class="dropdown-menu bg-vanilla-secondary" aria-labelledby="user-dropdown">
                        <!--uncomment
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#teamSelectModal">Create new game</a>-->
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#createGameModal">Create new game</a>                        
                        <a class="dropdown-item" @click="logout()" href="#">Logout</a>
                    </div>
                </div>   

                <div v-else>
                    <button @click="logout()" class="btn bg-orange-primary text-white m-0">Log in</button>
                </div>                 
                
            </nav>

            <div class="view-scores-btn-cont">
                <button class="btn gen-button" data-toggle="modal" data-target="#scoreboardModal">
                    <h6 class="m-0">
                        View scoreboard
                    </h6>
                </button>
            </div>

            <div class="text-center">
                <h1>Games</h1>
                <button class="btn gen-button" data-toggle="collapse" href="#filter-collapse" role="button" aria-expanded="false" aria-controls="filter-collapse">
                    <h6 class="m-0">
                        Show/hide filters
                    </h6>
                </button>
    
                <div class="collapse" id="filter-collapse">
                    <button @click="setFilter('all')" class="btn" v-bind:class="[filtros.main == 'all' ? 'bg-orange-primary text-white' : 'bg-white']">All games</button>
                    <button @click="setFilter('player')" class="btn" v-bind:class="[filtros.main == 'player' ? 'bg-orange-primary text-white' : 'bg-white']" v-if="logged">My games</button>
                    <button @click="setFilter('joinable')" class="btn" v-bind:class="[filtros.main == 'joinable' ? 'bg-orange-primary text-white' : 'bg-white']" v-if="logged">Joinable games</button>
                    <button @click="setFilter('finished')" class="btn" v-bind:class="[filtros.main == 'finished' ? 'bg-orange-primary text-white' : 'bg-white']">Finished games</button>
                </div>
            </div>
            

            
            <div id="games" class="animated container-fluid">
                <div v-for="game in filteredGames">

                    <!--v-bind:class="{'border' : isAPlayer(game.gamePlayers)}"-->
                    <div class="gameDiv row mb-3 bg-vanilla-secondary shadow rounded" >
                        <div class="col-2 text-right p-3 separator-right">
                            <h5>{{game.createdDate}}</h5>
                            <h6>{{game.createdTime}}</h6>
                            <h5 class="small">ID: {{game.id}}</h5>
                        </div>
                        <div class="text-center p-3" v-bind:class="[logged ? 'col-8' : 'col-10']">
                            <div v-if="game.gameState == 'joinable' && game.player1" class="row">
                                <div class="col-12">
                                    <h2>Waiting for an opponent!</h2>
                                    
                                    <!--uncomment
                                        <img :src="'img/teams/'+game.player1.team+'.png'" alt="" width="40px" class="mb-3">-->
                                    <h5>{{game.player1.player.name}}'s game</h5>
                                </div>
                            </div>

                            <div v-if="game.gameState == 'in course' && game.player1.player && game.player2" class="row">
                                <div class="col-12">
                                    <h1>
                                        <!--uncomment
                                            <img :src="'img/teams/'+game.player1.team+'.png'" alt="" width="40px" class="mb-3">-->
                                        {{game.player1.player.name}} 
                                        VS 
                                        {{game.player2.player.name}}
                                        <!--uncomment
                                            <img :src="'img/teams/'+game.player2.team+'.png'" alt="" width="40px" class="mb-3">     -->                               
                                    </h1>
                                    <h5>Game on course</h5>
                                </div>
                            </div>

                            <div v-if="game.gameState == 'finished'" class="row">
                                <div class="col-8 text-left">
                                    <h2>Finished game!</h2>
                                    <h4>{{game.player1.player.name}} VS {{game.player2.player.name}}</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <div v-if="game.player1.score.score == game.player2.score.score">
                                        <h2>Tied!</h2>
                                    </div>
                                    <div v-else-if="game.player1.score.score == 1">
                                        <h3>Winner: {{game.player1.player.name}}</h3>
                                    </div>
                                    <div v-else>
                                        <h3>Winner: {{game.player2.player.name}}</h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-2 p-3 button-place" v-if="game.gameState == 'joinable' && logged">
                            <button type="button" class="btn btn-orange-primary text-white" @click='enterGame(game.gamePlayers)' v-if="isAPlayer(game.gamePlayers)">Enter game (Waiting Opponent)</button>
                            <!--<button type="button" class="btn btn-orange-primary text-white" @click="joinGamePopup(game)" v-else>Join</button>-->
                            <button type="button" class="btn btn-orange-primary text-white" @click="joinGamePopup(game)" v-else>Join</button>                            
                        </div>
                        <div class="col-2 p-3 button-place" v-if="game.gameState == 'in course' && isAPlayer(game.gamePlayers)">
                            <button type="button" class="btn btn-orange-primary text-white" @click="enterGame(game.gamePlayers)">Enter back</button>
                        </div>
                    </div>
                </div>

                <div v-if="filteredGames.length < 1" class="text-center">
                    <h3>There are no games to show that match with the specified filters</h3>
                </div>
            </div>
            
        </div>

        <div class="modal fade text-dark" id="createGameModal" tabindex="-1" role="dialog" aria-labelledby="createGameModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createGameModalLabel">Creating a new game</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <h3>Are you sure you want to create a new game?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-orange-primary text-white" @click="createNewGame()">Create</button>
                    </div>
                </div>
            </div>
        </div>

        <!--uncomment
        <div class="modal fade text-dark" id="teamSelectModal" tabindex="-1" role="dialog" aria-labelledby="teamSelectModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="teamSelectModalLabel">Creating a new game</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="container-fluid">
                            <h3>Choose a team!</h3>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <div class="team-select-item-cont dog-team-cont" @click="selectTeam('dogs')" data-team="DOGS">
                                        <img src="img/teams/dogs.png" alt="dogs-team" style="width:60%;margin: 10px">
                                        <h4>Dogs</h4>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="team-select-item-cont cat-team-cont" @click="selectTeam('cats')" data-team="CATS">
                                        <img src="img/teams/cats.png" alt="cats-team" style="width:60%;margin: 10px">
                                        <h4>Cats</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-orange-primary" @click="createNewGameWithTeam()">Create</button>
                    </div>
                </div>
            </div>
        </div>-->


        <div class="modal fade text-dark" id="joinConfirmModal" tabindex="-1" role="dialog" aria-labelledby="joinConfirmModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="joinConfirmModalLabel">Join game</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div>
                            <h3>Are you sure you want to join this game?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="cancel-join-game-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="join-game-btn" type="button" class="btn btn-orange-primary">Join</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade text-dark" id="scoreboardModal" tabindex="-1" role="dialog" aria-labelledby="scoreboardModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="scoreboardModalLabel">Scoreboard</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div>
                            <table class="table table-bordered" v-if="rankedPlayers != 0">
                                <thead class="thead-light">                                            
                                    <tr>
                                        <th class="col">Player</th>
                                        <th class="col">Total</th>
                                        <th class="col">Won</th>
                                        <th class="col">Lost</th>
                                        <th class="col">Tied</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="player in rankedPlayers" >
                                        <td scope="row">{{player.name}}</td>
                                        <td>{{player.total}}</td>
                                        <td>{{player.won}}</td>
                                        <td>{{player.lost}}</td>
                                        <td>{{player.tied}}</td>
                                    </tr>
                                </tbody>                                       
                            </table>
                            <div v-else>
                                <h4>There isn't any finished game yet</h4>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    
        
    </main>
    <script src="dist/vue.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="dist/mdb.min.js"></script>
        
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="dist/jquery-ui.min.js"></script>
    <script src="js/games.js"></script>
</body>
</html>

<!-- TODO: GET LOS DIBUJOS DE LOS PERROS Y DESCOMENTAR TODO LO QUE EMPIEZA CON uncomment -->